@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing:border-box;
  margin: 0;
}
body{
  background: line
}
.container{
  min-height: ;
  display:flex;
  justify-content: center;
  align-items: flex-start;

}
.testimonial-card{
  display:flex;
  flex-direction: column;
  gap: 16px;
}
.testimonial-card-author
{
  display: flex;
  flex-direction: row;
  gap:16px
}
.testimonial-card-author-info{
  display:flex;
  flex-direction: column;
  gap: 1px;
}